html {
  --brand-green: #007765;
  --text-color: #212529;
  --light-gray: #eeeeee;
  --dark-gray: #333333;
  --white: #fff;
  --black: #000000;
  --max-width: 1219px;
}

:root {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--brand-green);
  text-transform: capitalize;
  font-size: 4rem;
  text-align: center;
}

p {
  font-size: 2rem;
}

.header {
  background-color: var(--brand-green);
  top: 0;
  position: sticky;
}

.header__row {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  max-width: var(--max-width);
  margin: 0 auto;
}

.header__menu {
  display: flex;
  list-style: none;
  column-gap: 1em;
  font-weight: bold;
}

.header__menu > li + li {
  border-left: 2px solid var(--white);
  padding-left: 1em;
}

.header__menu > li > a {
  text-decoration: none;
  color: var(--white);
}

.content {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.jumbotron {
  background-image: url(Images/jumbotron.svg);
  background-size: cover;
  padding: 2em;
  background-color: var(--brand-green);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.jumbotron__text {
  font-size: 4.5rem;
}

.element-menu-anchor {
  display: block;
  position: relative;
  top: -100px;
}

.problem {
  display: block;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 1.8em;
}

.hero {
  background-image: url(Images/hero.svg);
  background-size: cover;
  padding: 2em;
  background-color: var(--brand-green);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero__text {
  max-width: var(--max-width);
  font-size: 3rem;
  font-style: italic;
  text-align: center;
}

.PiedPiperCoin {
  display: block;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 1.8em;
  text-align: justify;
}

.PiedPiperCoin__body__logo {
  float: left;
  padding-right: 1.6rem;
}

.PiedPiperCoin__body__text {
  margin-top: 0;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

.team {
  padding-bottom: 5rem;
}

.team__cards {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 5rem;
  grid-auto-flow: dense;
}

.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__card__name {
  font-size: 1.5rem;
  color: var(--brand-green);
  text-align: center;
}

.team__card__title {
  font-size: 1.125rem;
  color: var(--black);
  text-align: center;
}

.footer {
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.125rem;
  text-align: center;
  padding: 2em;
}

.footer__text {
  max-width: 540px;
}
