html {
  --brand-green: #007765;
  --text-color: #212529;
  --light-gray: #eeeeee;
  --dark-gray: #333333;
  --white: #fff;
  --max-width: 1219px;
}

:root {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--brand-green);
  text-transform: capitalize;
  font-size: 4rem;
}

p {
  font-size: 2rem;
}

.header {
  position: sticky;
  background-color: var(--brand-green);
  top: 0;
}

.header__row {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  max-width: var(--max-width);
  margin: 0 auto;
}

.header__menu {
  display: flex;
  list-style: none;
  column-gap: 1em;
  font-weight: bold;
}

.header__menu > li + li {
  border-left: 2px solid var(--white);
  padding-left: 1em;
}

.header__menu > li > a {
  text-decoration: none;
  color: var(--white);
}

.content {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.jumbotron {
  background-image: url(Images/jumbotron.svg);
  background-size: cover;
  min-height: 400px;
  background-color: var(--brand-green);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.jumbotron__text {
  padding: 1.8em;
  font-size: 4.5rem;
}

.problem {
  display: block;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 1.8em;
}

.problem__title {
  text-align: center;
}

.hero {
  background-image: url(Images/hero.svg);
  background-size: cover;
  min-height: 400px;
  background-color: var(--brand-green);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero__text {
  padding: 1.8em;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
}

.PiedPiperCoin {
  display: block;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 1.8em;
  text-align: justify;
}

.PiedPiperCoin__title {
  text-align: center;
}

.PiedPiperCoin__body__logo {
  float: left;
  padding-right: 1.6rem;
}

.PiedPiperCoin__body__text {
  margin-top: 0;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}
